:root {
  --darkBlue: #1d355d;
  --lightBlue: #72a3d5;
  --greenBlue: #a3c0cf;
  --lightGradient: linear-gradient(0deg, lightgray, white);
  --blackShadow: drop-shadow(0 0 0.2rem black);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#root {
  display: flex;
}

#content {
  padding: 0.5rem 0;
}

.no-link * {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-tiny {
  gap: 0.2rem;
}

.gap-small {
  gap: 0.5rem;
}

.flex-grow {
  min-width: max-content;
  flex-grow: 1;
  overflow: hidden;
}

.space-between {
  justify-content: space-between;
}

.w1080 {
  width: 1080px;
}

#sidebar {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 120px;
  height: 100%;
  padding: 0.5rem;
}

#sidebar img {
  width: 80%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navy-bg {
  background-color: var(--darkBlue);
  color: white;
}

.navy-bg a {
  color: white;
  text-decoration: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.blue-bg {
  background-color: var(--lightBlue);
}

.green-blue-bg {
  background-color: var(--greenBlue);
}

.blue-hover:hover {
  background-color: var(--lightBlue);
}

.nav {
  padding: 0 0.2rem;
  margin-left: 0.3rem;
}

.nav.active {
  background-color: var(--greenBlue);
}

table textarea {
  width: 356px;
  height: 112.4px;
}

tr {
  height: 1px;
}

td {
  height: 100%;
}

td label {
  display: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.AccountSummary > tbody > tr > td:nth-child(1) {
  width: 480px;
}

#adjustment-controls * {
  font-weight: bold;
  background-color: var(--greenBlue);
  padding: 0.3rem 0 0 0.1rem;
}

.icon {
  height: 15px;
  width: 15px;
}

.flex-groups > div {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.as-comments {
  width: 1080px;
  overflow: hidden;
  outline: 1px solid black;
}

.as-comments > tbody {
  height: 50px !important;
  overflow: auto;
}

.as-comments > thead > tr > td {
  height: 16px !important;
}

.as-comments > thead > tr > td:first-child {
  width: 164px;
  background: linear-gradient(
    0deg,
    rgb(137, 137, 137) 0%,
    rgb(218, 218, 218) 100%
  );
  font-weight: bold;
}

.as-comments > thead > tr > td:nth-child(2) {
  width: 895.33px;
  background: linear-gradient(
    0deg,
    rgb(162, 162, 162) 0%,
    rgb(255, 255, 255) 100%
  );
  font-weight: bold;
}

.as-comments > * {
  border: 1px solid black;
}

.as-comments tr:nth-child(even) {
  background-color: hsla(0, 0%, 40%, 0.2);
}

.as-comments td:nth-child(odd) {
  background-color: hsla(0, 0%, 40%, 0.2);
}

.pad-left {
  padding-left: 5rem;
}

.blue-text {
  color: blue;
  font-weight: bold;
}

.red-text {
  color: red;
}

.black-text {
  color: black;
}

.orange-text {
  color: orange;
}

.no-pad {
  padding: 0;
  margin: 0;
}

.small-margin {
  margin: 0.5rem 0;
}

.margin-top {
  margin-top: 1rem;
}
